{{ define "blacklist" }}
{{/* Created on 02. 11. 2024 */}}
{{/* Time-stamp: <2024-11-02 19:10:31 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <table class="tbl tbl-striped">
      <thead>
        <tr>
          <th>Pattern</th>
          <th>Match Count</th>
        </tr>
      </thead>
      <tbody id="blacklist-table">
        {{ range .Blacklist.List }}
        <tr>
          <td>{{ .Pattern }}</td>
          <td>{{ .Cnt }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
