{{ define "feeds_table" }}
{{/* Created on 30. 09. 2024 */}}
{{/* Time-stamp: <2024-10-31 01:08:37 krylon> */}}
<table class="table-primary" table-striped>
  <thead>
    <tr>
      <th>Title</th>
      <th>Update interval</th>
      <th>Last Refresh</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Feeds }}
    <tr>
      <td>
        <a href="/feed/{{ .ID }}">{{ .Title }}</a>
      </td>
      <td>{{ .UpdateInterval }}</td>
      <td>{{ fmt_time .LastRefresh }}</td>
      <td>
        <div class="form-check form-switch">
          <input class="form-check-input"
                 type="checkbox"
                 role="switch"
                 {{ if .Active }}checked{{ end }}
                 onchange="toggle_feed_active({{ .ID }});"
                 id="check_feed_active_{{ .ID }}">
          <label class="form-check-label" for=check_feed_active_{{ .ID }}">Active</label>
        </div>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
