{{ define "feed_page" }}
{{/* Created on 31. 10. 2024 */}}
{{/* Time-stamp: <2024-10-31 00:37:48 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Feeds</h2>

    <div id="feeds_table">
      {{ template "feeds_table" . }}
    </div>
    
    {{ template "footer" . }}
  </body>
</html>
{{ end }}
