{{ define "item_view" }}
{{/* Created on 01. 10. 2024 */}}
{{/* Time-stamp: <2024-10-24 22:21:10 krylon> */}}
{{ $feeds := .Feeds }}
{{ $tags := .Tags }}
{{ $suggestion_table := .Suggestions }}
{{ range $id, $item := .Items }}
<tr id="tr_item_{{ $id }}">
  <td>{{ fmt_time_minute $item.Timestamp }}</td>
  <td><a href="/feed/{{ $item.FeedID }}">{{ (index $feeds $item.FeedID).Title }}</a></td>
  <td><a href="{{ $item.URL }}">{{ $item.Headline }}</a></td>
  <td id="item_rating_{{ $item.ID }}"> {{/* Rating */}}
    {{ if (eq $item.Rating 0) }}
    {{ if (ne $item.Guessed 0) }}
    {{ if (eq $item.Guessed -1) }}
    <small>(boring)</small>
    {{ else if (eq $item.Guessed 1) }}
    <small>(interesting)</small>
    {{ end }}
    <br />
    {{ end }}
    <button type="button"
            class="btn btn-primary"
            onclick="rate_item({{ $item.ID }}, 1);" >
      Interesting
    </button>
    <button type="button"
            class="btn btn-secondary"
            onclick="rate_item({{ $item.ID }}, -1);" >
      Boring
    </button>
    {{ else if (eq $item.Rating -1) }}
    <img src="/static/face-tired.png" onclick="unrate_item({{ $item.ID }});" />
    {{ else if (eq $item.Rating 1) }}
    <img src="/static/face-glasses.png" onclick="unrate_item({{ $item.ID }});" />
    {{ end }}
  </td>
  <td>
    <div id="item_tag_suggestions_{{ $item.ID }}">
      {{ $sugg := (index $suggestion_table $item.ID) }}
      {{ range $sugg }}
      {{ .Name }} ({{ .Score }} %)
      {{/* onclick="attach_tag_to_item({{ $item.ID }}, {{ .ID }});" /> &nbsp; */}}
      {{ end }}
    </div>
    <div id="item_tags_{{ $item.ID }}">
      {{ range $item.Tags }}
      <span id="tag_link_{{ $item.ID }}_{{ .ID }}">
        <a href="/tags/{{ .ID }}">{{ .Name }}</a>
        <img src="/static/delete.png"
             onclick="remove_tag({{ .ID }}, {{ $item.ID }});" />
      </span>
      {{ end }}
    </div>
    <div id="item_tag_form_{{ $item.ID }}">
      {{ $id := concat "tag_menu_item_" (i64str $item.ID) }}
      <select id="item_tag_sel_{{ $item.ID }}" class="btn btn-secondary">
        {{ range $idx, $tag := $tags }}
        <option value="{{ $tag.ID }}"
                id="{{ $id }}_opt_{{ $tag.ID }}"
                {{ if ($item.HasTag $tag.ID) }}disabled="" {{ end }}
                >
          {{ nbsp (twice $tag.Level) }}{{ $tag.Name }}
        </option>
        {{ end }}
      </select>
      <button class="btn btn-success" onclick="add_tag({{ $item.ID }});">Add Tag</button>
    </div>
  </td>
  <td>
    {{ if gt (len .Description) 500 }}
    <button class="btn btn-primary"
            data-bs-toggle="collapse"
            href="#collapse_item_{{ .ID }}"
            aria-expanded="false"
            aria-controls="#collapse_item_{{ .ID }}">
      Description
    </button>
    <div class="collapse" id="collapse_item_{{ .ID }}">
      {{ .Description }}
    </div>
    {{ else }}
    {{ .Description }}
    {{ end }}
  </td>
</tr>
{{ end }}
{{ end }}
