{{ define "item_view" }}
{{/* Created on 01. 10. 2024 */}}
{{/* Time-stamp: <2024-10-01 15:07:44 krylon> */}}
{{ range .Items }}
<tr>
  <td>{{ fmt_time_minute .Timestamp }}</td>
  <td><a href="{{ .URL }}">{{ .Headline }}</a></td>
  <td>{{ .Description }}</td>
</tr>
{{ end }}
{{ end }}
