{{ define "items" }}
{{/* Created on 30. 09. 2024 */}}
{{/* Time-stamp: <2024-12-14 19:23:42 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Recent News</h2>

    <script>
     const max_cnt = {{ .MaxItems }}
     const feeds = {
       {{ range .Feeds }}
       {{ .ID }}: {
         "ID": {{ .ID }},
         "Title": "{{ .Title }}",
         "URL": "{{ .URL }}",
         "Homepage": "{{ .Homepage }}",
         "UpdateInterval": "{{ .UpdateInterval }}",
         "LastRefresh": new Date("{{ fmt_time .LastRefresh }}"),
         "Active": {{ .Active }},
       },
       {{ end }}
     }

     var offset = {{ .Offset }}

     $(document).ready(function() {
       console.log("Starting to load Items...")
       window.setTimeout(load_items, 100, {{ .ReqCnt }}, offset)
     })
    </script>

    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Feed</th>
          <th>Title</th>
          <th>Rating</th>
          <th>Tags</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="items">
      </tbody>
    </table>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
