{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2024-09-30 13:40:51 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Feeds</h2>

    {{ template "feeds_table" . }}

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
