{{ define "msg" }}
{{/* Created on 29. 10. 2024 */}}
{{/* Time-stamp: <2024-10-29 16:38:44 krylon> */}}
<div class="messages">
  <table class="tbl tbl-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Level</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody id="msg_tbl">
      
    </tbody>
  </table>
</div>
{{ end }}
