{{ define "search_queries" }}
{{/* Created on 21. 11. 2024 */}}
{{/* Time-stamp: <2024-12-05 19:07:25 krylon> */}}
<table id="search_queries" class="table table-success table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Created</th>
      <th>Start / End</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Queries }}
    <tr id="query_{{ .ID }}">
      <td>{{ .ID }}</td>
      <td>
        <img src="/static/delete.png" onclick="search_query_delete({{ .ID }});" />
        <big onclick="load_search_results({{ .ID }});">{{ .Title }}</big>
      </td>
      <td>
        {{ if .IsFinished }}
        {{ if .Status }}
        Finished successfully
        {{ else }}
        Error: {{ .Message }}
        {{ end }}
        {{ end }}
      </td>
      <td>
        {{ fmt_time_minute .TimeCreated }}
      </td>
      <td>
        {{ if not .TimeStarted.IsZero }}
        {{ fmt_time_minute .TimeStarted }}
        {{ if not .TimeFinished.IsZero }}
        -- {{ fmt_time_minute .TimeFinished }}
        {{ end }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
