{{ define "tag_view" }}
{{/* Created on 12. 10. 2024 */}}
{{/* Time-stamp: <2024-10-15 16:28:54 krylon> */}}
{{ $item_cnt := .ItemCnt }}
{{ range $idx, $tag := .Tags }}
<tr>
  <td>{{ $tag.ID }}</td>
  <td>
    <h4 onclick="load_tag_details({{ $tag.ID }});">{{ $tag.Name }}</h4>
  </td>
  <td>{{ index $item_cnt $tag.ID }}</td>
</tr>
{{ end }}
{{ end }}
