{{ define "tag_form" }}
{{/* Created on 11. 10. 2024 */}}
{{/* Time-stamp: <2024-10-12 16:04:23 krylon> */}}
<form id="tag_form">
  <table class="horizontal">
    <tr>
      <th>Name</th>
      <td><input id="tag_name" type="text" /></td>
    </tr>
    <tr>
      <th>Parent</th>
      <td>
        <select id="tag_parent">
          {{ range .Tags }}
          <option value="{{ .ID }}">{{ .Name }}</option>
          {{ end }}
        </select>
        <input type="hidden" name="id" id="tag_id" value="{{ .Tag.ID }}"/>
      </td>
    </tr>
    <tr>
      <td><input type="reset" />Cancel</td>
      <td><input type="button" onclick="submit_tag();" /></td>
    </tr>
  </table>
</form>

{{ end }}
