{{ define "tags" }}
{{/* Created on 11. 10. 2024 */}}
{{/* Time-stamp: <2024-10-16 15:55:32 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Tags</h2>

    <script>
     $(document).ready(() => {
       const url = `/ajax/tag/all`
       const req = $.get(url,
                         {},
                         (res) => {
         if (res.status) {
           $("#tag_view")[0].innerHTML = res.payload.content
         } else {
           const msg = `Error fetching Tags: ${res.message}`
           console.log(msg)
           alert(msg)
         }
       },
                         'json')
     })

     function load_tag_details(id) {
       const url = `/ajax/tag/details/${id}`
       const req = $.get(
         url,
         {},
         (res) => {
           if (res.status) {
             $("#tag_details")[0].innerHTML = res.payload.content
           } else {
             const msg = `Error fetching Tags: ${res.message}`
             console.log(msg)
             alert(msg)
           }
         },
         'json')
     } // function load_tag_details(id)
    </script>

    <div id="tag_details">
      {{ template "tag_form" . }}
    </div>

    <hr />

    <table class="table table-secondary table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th># Items</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id="tag_view">
      </tbody>
    </table>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
